body
{
    font-family: "Audiowide", sans-serif;
    background-image: url("fundo4.jpg");
    overflow: hidden;
    width: 99%;
    height: 99vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    position: relative;
}
.D1
{
    width: 70%;
    height: 95vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.D2
{
    width: 45%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.576);
    border-radius: 40px ;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
   
}
.fieldset1
{
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: column;
    border-style: solid;
    border-color: transparent;
}
.D3
{
    width: 95%;
    height: 10vh;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.botao
{
    background-color: rgb(45, 128, 127);
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
}
a
{
    text-decoration: none;
    color: white;
}
.caixa
{
    width: 100%;
    height: 4vh;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
}