body
{
    font-family: "Audiowide", sans-serif;
    background-image: url("fundo4.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
}
.principal
{
    border-color: brown;
    border-width: 5px;
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top:0px;
    left:0px;
}
.logo
{
    width: 4%;
    z-index: 11;
    position:absolute;
    top:3px;
    left:20px;
}

.D2
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
    z-index:10;
}
.D3
{
   
    position: absolute;
    width: 60px;
    height: 60px;
    left: 190px;
    top:10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:11;

}
.D4
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 590px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
    
}
.D5
{
    /*background-color: pink;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 320px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D6
{
    /*background-color: purple;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 460px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D7
{
     /*background-color: purple;*/
     position: absolute;
     width: 150px;
     height: 60px;
     left: 1200px;
     top:15px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     cursor: pointer;
     color: white;
     margin-left: 5px;
     z-index:10;
    
}
.D8
{
   /* background-color: yellow;*/
   position: absolute;
   width: 60px;
   height: 60px;
   left: 1350px;
   top:9px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   cursor: pointer;
   border-radius: 60px;
   color:white;
   margin-left: 28px;
   z-index:10;
}
.D9
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1500px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 40px;
    z-index:10;
}
.D12
{
   
    width: 100%;
    height: 82px;
    background-color: rgb(44, 119, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    top:0px;
    
}



.D3:hover
{
    background-color: black;

}
.D4:hover
{
    background-color: black;

}
.D5:hover
{
    background-color: black;

}
.D6:hover
{
    background-color: black;

}
.D8:hover
{
    background-color: black; 

}
.D9:hover
{
    background-color: black;

}
.D2:hover
{
    border-color: black;

}
.D13
{
    position: relative;
    background-color: purple;
    top: -130px;
    left:650px; 
    width: 50%;
    height: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;

}
.logoescrita
{
    font-family: "Pinyon Script" ;
    font-size: 98px;
    width:1500px;
    height: 500px;
    top: 100px;
    margin-left: 650px;
    z-index: 13px;
    margin-top:-130px ;
}

a
{
    text-decoration: none;
    color:white;
}

.propaganda
{
    /*background-color: red;*/
    height: 400px;
    width:100%;
    display: flex;
    flex-direction:row;
    top: 140px;
    position: relative;
}

.todas
{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    animation: deslizar 2s;
    width: 400px;
}

.img_legenda
{
    position: relative;
   
    width: 300px;
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    margin-top: 120px;
    background-color: rgba(50, 102, 94, 0.589);
}
.carrossel
{
    height: 500px;
    width: 500%;
    display: flex;
    flex-direction:row;
    /*background-color: yellow;*/
    justify-items: center;
    align-content: center;
    align-items: center; 
    margin-top:230px ;
    margin-left: 15px;
    overflow: hidden;
}

.teste
{
     animation: deslizar2 5s forwards;

}

@keyframes deslizar2
{
 0%{margin-left:40px; }
 100% {margin-left:-600px;}
}
.teste2
{
     animation: deslizar3 5s forwards;

}

@keyframes deslizar3
{
 0%{margin-left:-600px; }
 100% {margin-left:40px;}
}

.preco
{
    width: 250px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: space-around;
     justify-items: flex-end;
     align-content: center;
     align-items: center; 
     flex-direction: column;
     color:white;
    TOP:270PX;
    position: absolute;
     bottom: 0px;
}
.botaodeslizar
{
    position:absolute;
    width: 60px;
    height: 60px;
    right: 30px;
    top:745px;
    z-index: 10;
}
.botaodeslizar2
{
  
    position:absolute;
    width: 60px;
    height: 60px;
    right: 1480px;
    top:740px;
    z-index: 10;

}
/*FIM MENU NOVO*/
.paggeral
{
    width: 100%;
    height: 15vh;
    
}
.pagtitulo
{
    margin-top: 10vh;
    margin-left: 105px;
    background-color: rgba(57, 143, 140, 0.906);
    width: 18%;
    height: 6vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    font-size: 15px;
    animation: backInLeft 3s;
    color: rgb(255, 255, 255);
    border-color: rgba(253, 255, 255, 0.697);
    border-style: solid;
    border-radius: 20px;
}
.pagamento2
{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    
}
.pagamento3
{
    background: rgba(245, 247, 248, 0.793);
    width: 25%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    animation: fadeInLeft 2s;
    margin-top: 12vh;
    border-color: rgb(25, 92, 92);
    border-style: solid;
    border-radius: 20px;
    font-size: 18px;
}
.pagamento4
{
    background: rgba(245, 247, 248, 0.793);
    width: 30%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    animation: fadeInLeft 2s;
    border-color: rgb(25, 92, 92);
    border-style: solid;
    border-radius: 20px;
    font-size: 25px;
    margin-top: 10vh;
}
.pagamento5
{
    background: rgba(32, 126, 133, 0.709);
    width: 25%;
    height: 65vh;
    border-color: rgba(253, 255, 255, 0.697);
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation: fadeInLeft 2s forwards;
    margin-top: 10vh;
}
.certo
    {
        background-color: rgb(189, 238, 189);
        color: rgb(22, 107, 36);
    }

    .errado
    {
        background-color: rgba(124, 9, 9, 0.856);
        color: white;
    }
.fild
{
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(29, 114, 103);
    width: 40%;
}
.cartao
{
    background: rgba(32, 126, 133, 0.709);
    width: 90%;
    height: 8vh;
    border-color: rgba(253, 255, 255, 0.697);
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}
.boleto
{
    background: rgba(32, 126, 133, 0.709);
    width: 90%;
    height: 8vh;
    border-color: rgba(253, 255, 255, 0.697);
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}.pix
{
    background: rgba(32, 126, 133, 0.709);
    width: 90%;
    height: 8vh;
    border-color: rgba(253, 255, 255, 0.697);
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}
.dinheiro
{
    color: rgb(27, 98, 101);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;   
}
.preco
{
    width: 320px;
    height: 70px;
    margin-left: -13px;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: space-around;
    justify-items: flex-end;
    align-content: center;
    align-items: center; 
    flex-direction: column;
    color:white;
    position: absolute;
    bottom: 0px;
}
.confirmaPAG
{
    width: 40%;
    height: 10vh;
    background-color: aqua;
    font-family: "Audiowide", sans-serif;
    cursor: pointer;
}

  
 


