body
{
    font-family: "Audiowide", sans-serif;
    background-image: url("fundo4.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 99%;
    height: 99vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.D1
{
    width: 100%;
    height: 32vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
     border-radius: 9px;
     top:10px;
}
.D2
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
}
.D3
{
    /*background-color: brown;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 170px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;

}
.D4
{
    /*background-color: yellow;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 300px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
}
.D5
{
    /*background-color: pink;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 430px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
}
.D6
{
    /*background-color: purple;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 530px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
}
.D7
{
    /*background-color: purple;*/
    position: absolute;
    width: 10%;
    height: 8vh;
    left: 900px;
    top:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    color: white;
    
}
.D8
{
   /* background-color: yellow;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 1090px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    color:white;
}
.D9
{
    /*background-color: yellow;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 1250px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 40px;
}
.D10
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    
}
.D12
{
    width: 110%;
    height: 10vh;
    background-color: rgb(44, 119, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.D3:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D4:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D5:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D6:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D8:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D9:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D2:hover
{
    background-image: radial-gradient(rgb(220, 34, 62), rgba(44, 119, 119, 0.617) );

}
.D13
{
    position: relative;
    background-color: purple;
    top: -130px;
    left:650px; 
    width: 50%;
    height: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
}
.DES
{
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction:row;
    /*background-color: black;*/
    margin-left: 900px;
}
.DES0
{
    width: 180px;
   height: 60px;
   /*background-color: rgb(38, 101, 103);*/
   display: flex;
   border-radius: 20px;
   justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: column;
    margin-left: 0px;
    color: black;
}

.DES1
{
    width: 180px;
   height: 60px;
   background-color: rgb(38, 101, 103);
   display: flex;
   border-radius: 20px;
   justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: column;
    margin-left: 0px;
    cursor: pointer;

}
.DES2
{
    width: 180px;
   height: 60px;
   background-color:rgb(38, 101, 103);
   display: flex;
   border-radius: 20px;
   justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center; 
    margin-left: 20px;
    cursor: pointer;

}
a
{
    text-decoration: none;
    color:white;
}
.DES1:hover
{
    background-color: black;

}
.DES2:hover
{
    background-color: black;

}
.logo
{
    width: 4%;
    z-index: 11;
    position:absolute;
    top:3px;
    left:20px;
}
.principal
{
    width: 100%;
    height: 80vh;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.produtosverde
{
   background: rgba(245, 247, 248, 0.793);
    width: 25%;
    height: 75vh;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: column;
    display: flex;
    animation: zoomIn 2s;
    border-color: rgb(201, 201, 201);
    border-style: solid;
    border-radius: 20px;
}
.produtosverde2
{
    height: 20vh;
    width: 90%;
    background-color: rgba(16, 64, 58, 0.7);
    border-color: rgb(201, 201, 201);
    border-style: solid;
    border-radius: 2px;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: row;
    display: flex;
    
}
.produtosvermelho
{
    background-color: rgba(176, 64, 64, 0.855);
    width:60%;
    height:75vh;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: row;
    display: flex;
    animation: zoomIn 2s;
}

.traco
{
    background-color: rgb(0, 0, 0);
    width: 96%;
    height: 2px;
}
.traco2
{
    background-color: rgb(0, 0, 0);
    width: 96%;
    height: 2px;
}
.COX
{
    margin-left: -900px;
}
.coxinha
{
    margin-top: -100px;
}
.descricao
{
    width: 80%;
    height: 60vh;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: column;
    display: flex;
}
.des1
{
    width: 30%;
    height: 5vh;
    font-size: 15px;
    margin-left: 800px;
    z-index: 10;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    animation: backInLeft 2s;
    color: rgb(0, 0, 0);
    border-color: rgba(227, 227, 227, 0.871);
    border-style: solid;
    border-radius: 20px;
}
.scr
{
    width: 100%;
    height: 82vh;
    margin-top: 40px;
}
.ok
{
    width: 8%;
    height: 4vh;
    font-size: 12px;
    margin-top: 10px;
    margin-left:970px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    animation: backInLeft 2s;
    color: rgb(45, 192, 37);
    border-color: rgba(227, 227, 227, 0.871);
    border-style: solid;
    border-radius: 20px;
    font-family: "Audiowide", sans-serif;
}
.fieldcomidas
{
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(20, 94, 86);
    width: 40%;
    height: 50vh;  
}
.fieldquantidades
{
    border-color: transparent;
}
.lembrete
{
    width: 99%;
    height: 9vh;
    font-family: 'Pinyon Script', cursive;
    font-size: 40px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    display: flex;
}
.lembrete2
{
    width: 55%;
    height: 5vh;   
    font-family: "Audiowide", sans-serif;
    font-size: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    display: flex;
    margin-left: 12px;
}
.alerta
{
    width: 9%;
    height: 5vh; 
    font-size: 25px;
    margin-left: 12px;
    margin-top: 4px;
}
.qntdd
{
    width: 40%;
    height: 50vh;
    margin-left: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.numero
{
  width:200px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(20, 94, 86);
  text-align: center;
}
.menos
{
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(20, 94, 86);
}
.mais
{
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(20, 94, 86, 0.7);
}

