body
{
    font-family: "Audiowide", sans-serif;
    background-image: url("fundo4.jpg");
    overflow: hidden;
    width: 99%;
    height: 99vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.D1
{
    width: 70%;
    height: 95vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.D2
{
    width: 45%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.576);
    border-radius: 40px ;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
   
}
.fieldset1
{
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    border-radius: 20px;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}
.D3
{
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 10vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.botao
{
    background-color: rgb(45, 128, 127);
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
}
a
{
    text-decoration: none;
    color: white;
}