body
{
    
    font-family: "Audiowide", sans-serif;
    background-image: url("fundo4.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 99%;
    height: 99vh;

   
    
   

}
.principal
{

  
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
  
}

.D1
{
    width: 120%;
    height: 32vh;
    background-color: rgba(255, 255, 255, 0.633);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
     border-radius: 20px;
     top:10px;
}
.D2
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
}

.D3
{
    /*background-color: brown;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 200px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 60px;
    overflow: hidden;

}

  .D3:hover .interior
   {
    
    transition-duration: 1s;
    left:0px;
    animation-fill-mode: forwards;
    animation: animacao 1s alternate-reverse;
  }
  

  @keyframes animacao {
    from {
        left: 0px;
    }
    to {
        left: -60px;
    }
    
  }
  
  .interior
  {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.495);
    position: absolute;
    top:0px;
    left:-60px;


  }
  
 
.D4
{
    /*background-color: yellow;*/
    position: absolute;
    width: 5%;
    width: 60px;
    height: 60px;
    top:9px;
    left: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 60px;
    overflow: hidden;
}
.D4:hover .interior
   {
    
    transition-duration: 1s;
    left:0px;
    animation-fill-mode: forwards;
    animation: animacao 1s alternate-reverse;
  }
 
    
  
.D5
{
    /*background-color: pink;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 300px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 60px;
    overflow: hidden;
}
.D5:hover .interior
   {
    
    transition-duration: 1s;
    left:0px;
    animation-fill-mode: forwards;
    animation: animacao 1s alternate-reverse;
  }
.D6
{
    /*background-color: purple;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 410px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 60px;
    overflow: hidden;
}
.D6:hover .interior
   {
    
    transition-duration: 1s;
    left:0px;
    animation-fill-mode: forwards;
    animation: animacao 1s alternate-reverse;
  }
.D7
{
    /*background-color: purple;*/
    position: absolute;
    width: 150px;
    height: 60px;
    left: 1000px;
    top:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    color: white;
    margin-left: 5px;
    overflow: hidden;
    
}
.D8
{
   /* background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1220px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 60px;
    color:white;
    margin-left: 28px;
    overflow: hidden;
}
.D8:hover .interior
   {
    
    transition-duration: 1s;
    left:0px;
    animation-fill-mode: forwards;
    animation: animacao 1s alternate-reverse;
  }
.D9
{
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1350px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 500px;
    overflow: hidden;
    
    
}
.D9:hover .interior
   {
    
    transition-duration: 1s;
    left:0px;
    animation-fill-mode: forwards;
    animation: animacao 1s alternate-reverse;
  }
.D10
{
    
    position: relative;
    top: 0px;
    left:0px; 
    width: 100%;
    height: 30vh;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
}
.D11
{
   
    width:200%;
    top:80px;
    height: 15px;
    background-color: rgb(44, 119, 119);
    position: fixed;
    top:250px;
    z-index: 0;
    margin-left:500px
   
    
}
.D12
{
   
    width: 130%;
    height: 82px;
    background-color: rgb(44, 119, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
     border-radius: 9px;
     top:0px;
     margin-left:660px

   
    
}


.D13
{
    position: relative;
    background-color: purple;
    top: -130px;
    left:650px; 
    width: 50%;
    height: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;

}
.logoescrita
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    position: absolute;
    top: 60px;
    left:400px; 
    z-index: 10;

}
/* {
    position: absolute;
    top: 300px;
    left:80px; 
    background-color: black;
    width: 500px;
    height: 500px;
}
/*.imagemcoxinha
{
    position: absolute;
    top: 300px;
    left:80px;
    width: 1000px;
    height: 500px;
}*/

a
{
    text-decoration: none;
    color:white;
}

.propaganda
{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction:row;
    /*background-color: white;*/
    margin-left: 0px;
    margin-top: 120px;
    
    

}
.linha2
{
    height: 250px;
    width: 25%;
    display: flex;
    flex-direction:column;
    /*background-color: red;*/
    margin-left: 0px;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center; 
    font-size: 25px;
    margin-top: 20px;
   
    

  
}
.fora
{
    font-family: 'Cookie';font-size: 22px;
    width: 10px;
    height: 10px;
    
}
  

.emoji
{
    width: 300px;
   height: 60px;
   /*background-color: rgb(38, 101, 103);*/
   display: flex;
   border-radius: 20px;
   justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    flex-direction: row;
 

    

}
.todas
{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    animation: deslizar 15s infinite;
    
}
@keyframes deslizar {
    0%{ margin-left: 0px;}
    100%{ margin-left: -1330px;}
    
}
.img_legenda
{
    position: relative;
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    
    
}
.carrossel
{
    height: 400px;
    width: 45%;
    display: flex;
    flex-direction:row;
    z-index: 1;
    
   
    justify-items: center;
    align-content: center;
    align-items: center; 
    margin-top:-450px ;
    margin-left:400px;
    overflow: hidden;

}

.preco
{
    width: 355px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: space-around;
     justify-items: flex-end;
     align-content: center;
     align-items: center; 
     flex-direction: column;
     color:white;
    
     
   position: absolute;
   bottom: 0px;

}
/*}.linha3
{
    height: 500px;
    width: 30%;
    display: flex;
    flex-direction:row;
    background-color: red;
    margin-left: -210px;
    justify-items: center;
    align-content: center;
    align-items: center; 
    margin-top: -80px ;
}*/

.logoescrita
{
    font-family: 'Pinyon Script', cursive;font-size: 98px;
    width:1500px;
    height: 500px;
    top: 100px;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    


    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.logo
{
 width: 200px;
 z-index: 11;
 position:absolute;
 top:95px;
 left:50px;
}
/*.central
{
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 45px;
    background-color: rgb(47, 112, 112);
    top:505px;
    left:25px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 10;
}
.op1
{
    position: absolute;
    width: 50px; 
    height: 50px;
    border-radius: 25px;
    background-color: rgb(47, 112, 112);
    top:505px;
    left: 35px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 0;
    color: white;
    font-size: 15PX;
    animation: mostrar_op1 2s forwards;
    cursor: pointer;
}
.op2
{
    position: absolute;
    width: 50px; 
    height: 50px;
    border-radius: 25px;
    background-color: rgb(47, 112, 112);
    top:505px;
    left:35px; 
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 15PX;
    animation: mostrar_op2 2s forwards;
    cursor: pointer;
}
@keyframes mostrar_op2
{
    0%{top:505px;left:35px}
    100%{top:590px; left:120px;width: 140px ;}
}
@keyframes mostrar_op1
{
    0%{top:505px;left:35px}
    100%{top:450px; left:125px;width: 140px ;}
}
.op1:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}
.op2:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.589),rgba(44, 119, 119, 0.617));
}*/
.sininho1
{
    height:20vh;
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    animation: tada 8s infinite ;
}
.notificacao
{
    /*background-color: yellow;*/
    width: 300px;
    height: 70px;
    margin-left: 1250px;
    margin-top:-50px;
    position: relative;
}
.botaomenu
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    margin-left:250px;
    top: 0px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}


.botaomenu:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaoenvelope
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-color:black;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.envelope2
{
    animation: mostrar_botaoenvelope 2s forwards;
}
@keyframes mostrar_botaoenvelope
{
    0%{ margin-left:250px;}
    100%{ margin-left:170px}
}
.envelope2_recolher
{
    animation: recolher_botaoenvelope 2s forwards; 
    
}
@keyframes recolher_botaoenvelope
{
    0%{margin-left:170px;}
    100%{margin-left:250px}
}

.botaoenvelope:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaoestrela
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.estrela2
{
    animation: mostrar_botaoestrela 2s forwards; 
}
@keyframes mostrar_botaoestrela
{
    0%{ margin-left:250px;}
    100%{margin-left:90px}
}
.estrela2_recolher
{
    animation: recolher_botaoestrela 2s forwards; 
    
}
@keyframes recolher_botaoestrela
{
    0%{margin-left:90px;}
    100%{margin-left:250px}
}

.botaoestrela:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaorelogio
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.relogio2
{
    animation: mostrar_botaorelogio 2s forwards; 
}
@keyframes mostrar_botaorelogio
{
    0%{ margin-left:250px;}
    100%{ margin-left:10px}
}
.relogio2_recolher
{
    animation: recolher_botaorelogio 2s forwards; 
    
}
@keyframes recolher_botaorelogio
{
    0%{margin-left:10px;}
    100%{margin-left:250px}
}

.botaorelogio:hover
{
    background-color: rgb(44, 119, 119) ;
}
.botaoredes
{
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 40px;
    top: 0px;
    margin-left:250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}
.redes2
{
    animation: mostrar_botaoredes 2s forwards; 
    
}
@keyframes mostrar_botaoredes
{
    0%{margin-left:250px;}
    100%{margin-left:-70px}
}
.redes2_recolher
{
    animation: recolher_botaoredes 2s forwards; 
    
}
@keyframes recolher_botaoredes
{
    0%{margin-left:-70px;}
    100%{margin-left:250px}
}

.botaoredes:hover
{
    background-color: rgb(44, 119, 119) ;
}
.mensagem
{
    width: 100px;
    height: 20px;
    background-color: black;
    position: absolute;
    top:50px;
    left:-300px;
    color:white;

}
.faleconosco
{
    height: 400px;
    width: 300px;
    background-color: white;
    top:280px;
    left:1200px;
    position: absolute;
}
