body
{
    
    font-family: "Audiowide", sans-serif;
    background-image: url("fundo4.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0%;
    width: 99%;
    height: 99vh;

}
.principal
{

    border-style: solid;
    border-color: brown;
    border-width: 5px;
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
}
.logo
{
    border-radius: 75px;
    position: absolute;
    top: 120px;
    left: 90px; 
    width: 180px;
}
.D3
{
    /*background-color: brown;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 170px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;

}
.D4
{
    /*background-color: yellow;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 300px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
}
.D5
{
    /*background-color: pink;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 430px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
}
.D6
{
    /*background-color: purple;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 530px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
}
.D7
{
    /*background-color: purple;*/
    position: absolute;
    width: 12%;
    height: 8vh;
    left: 900px;
    top:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    color: white;
    
}
.D8
{
   /* background-color: yellow;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 1090px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 40px;
    color:white;
}
.D9
{
    /*background-color: yellow;*/
    position: absolute;
    width: 5%;
    height: 9vh;
    left: 1250px;
    top:9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 40px;
}
.D12
{
   margin-top: 10px;
    width: 100%;
    height: 15vh;
    background-color: rgb(44, 119, 119);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-radius: 9px;
    top:0px;
    
}

.D3:hover
{
    background-color: black;

}
.D4:hover
{
    background-color: black;

}
.D5:hover
{
    background-color: black;

}
.D6:hover
{
    background-color: black;

}
.D8:hover
{
    background-color: black; 

}
.D9:hover
{
    background-color: black;

}
.D2:hover
{
    border-color: black;

}
.D13
{
    position: relative;
    background-color: purple;
    top: -130px;
    left:650px; 
    width: 50%;
    height: 15px;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;

}
.logoescrita
{
    font-family: 'Pinyon Script', cursive;
    font-size: 98px;
    width: 1500px;
    height: 70px;
    top: 10px;
    left: 100px;
    margin-left: 1200px;
}
.pagamento
{
    width: 100%;
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.pagtitulo
{
    width: 25%;
    height: 10vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 25px;
    animation: flipInY 5s;
    
}
.pagamento2
{
    width: 100%;
    height: 58vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    animation: fadeInLeft 2s;
}
.pagamento3
{
    background: rgba(245, 247, 248, 0.793);
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.pagamento4
{
    background: rgba(245, 247, 248, 0.793);
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.pagamento5
{
    background: rgba(32, 126, 133, 0.709);
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.certo
    {
        background-color: rgb(189, 238, 189);
        color: rgb(22, 107, 36);
    }

    .errado
    {
        background-color: rgba(124, 9, 9, 0.856);
        color: white;
    }
.fild
{
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(29, 114, 103);
    width: 30%;
}